body {
    font-family: 'Baloo Bhai', cursive;
    color: white;
    margin: 0px;
    padding: 0px;
    background: url('asests/images/abs.jpg');
    background-size: 2800px;
}

.left {
    display: inline-block;
    /* border: 2px solid red; */
    position: absolute;
    left: 24px;
    top: 14px;
}

.left i {
    width: 136px;
    font-size: 45px;
    text-align: center;
}

.left div {
    line-height: 27px;
    font-size: 19px;
    text-align: center;
}
.mid {
    display: block;
    width: 56%;
    margin: 29px auto;
    /* border: 2px solid green; */
}

.right {
    position: absolute;
    right: 24px;
    top: 14px;
    display: inline-block;
    /* border: 2px solid yellow; */
}

.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-block;
    font-size: 25px;
}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 16px 20px;

}

.navbar li a:hover {
    text-decoration: underline;
    color: grey;

}

.btn {
    font-family: 'Baloo Bhai', cursive;
    margin: 0px 9px;
    background-color: black;
    color: white;
    padding: 4px 14px;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(31, 30, 30);
}

.container {
    border: 2px solid white;
    margin: 106px 80px;
    padding: 75px;
    width: 33%;
    border-radius: 28px;
}

.form-group input {
    font-family: 'Baloo Bhai', cursive;
    text-align: center;
    display: block;
    width: 508px;
    padding: 1px;
    border: 2px solid black;
    margin: 11px auto;
    font-size: 25px;
    border-radius: 8px;
}

.container h1 {
    text-align: center;
}

.container button {
    display: block;
    width: 74%;
    margin: 20px auto;
}